@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
          Author: Ilias Ism
            URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #076585, #fff);

    --background: 207 58.5% 2.16%;
    --foreground: 207 9% 96.35%;

    --muted: 207 29.7% 27%;
    --muted-foreground: 207 9% 52.7%;

    --popover: 207 71.3% 13.23%;
    --popover-foreground: 207 9% 96.35%;

    --card: 207 71.3% 13.23%;
    --card-foreground: 207 9% 96.35%;

    --border: 207 29.7% 27%;
    --input: 207 29.7% 27%;

    --primary: 207 90% 27%;
    --primary-foreground: 207 9% 96.35%;

    --secondary: 207 29.7% 27%;
    --secondary-foreground: 207 9% 96.35%;

    --accent: 207 29.7% 27%;
    --accent-foreground: 207 9% 96.35%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 207 9% 96.35%;

    --ring: 207 90% 27%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.gradient {
  background: linear-gradient(to top left, #0b486b, #f56217);
}
