@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
          Author: Ilias Ism
            URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #000428, #004e92);
    --background: 249 100% 98.16%;
    --foreground: 249 10% 0.32%;

    --muted: 249 10% 90.8%;
    --muted-foreground: 249 5% 40.8%;

    --popover: 249 10% 90.8%;
    --popover-foreground: 249 10% 0.4%;

    --card: 249 10% 90.8%;
    --card-foreground: 249 10% 0.4%;

    --border: 249 15% 89.32%;
    --input: 249 15% 89.32%;

    --primary: 249 100% 8%;
    --primary-foreground: 249 2% 90.8%;

    --secondary: 249 5% 95.4%;
    --secondary-foreground: 249 7% 10.8%;

    --accent: 249 5% 95.4%;
    --accent-foreground: 249 7% 10.8%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 249 100% 8%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.gradient {
  background: linear-gradient(to top left, #0b486b, #f56217);
}
